.main-initial{
    display: flex;
    background-color: #000;
    color: #fff;
    flex-direction: column;
    align-items: center;
    height: 841px;
}
.main-initial figure{
    padding-left: 10px;
    width: 260px;
    margin: 150px 0px 50px;
}
.main-initial figure img{
    align-self: flex-start;
}
.main-initial h1{
    font-size: 38px;
    font-weight: bold;
    width: 260px;
}
.main-initial span{
    width: 260px;
    margin: 20px 0px;
}